footer 
    .content 
        .content-item 
            h1 VỀ WORLD SUPERCONT
            .line 
            p World Supercont® là một trang chuyên về sắc đẹp trực tuyến hàng đầu, mang đến cho bạn những thông tin và kiến thức về beauty queen online chất lượng cao. Với hơn 5 năm kinh nghiệm trong ngành, chúng tôi tự hào là nguồn cung cấp tin tức, bài viết và các cuộc thi đáng tin cậy.
            p Hãy đồng hành cùng World Supercontø để khám phá vẻ đẹp tự nhiên và tìm hiểu những cuộc thi độc đáo. Chúng tôi cam kết mang đến cho bạn những thông tin chính xác và đáng tin cậy để bạn có thể hiểu biết thêm và cập nhật tin tức mới nhất mỗi ngày.
        .content-item 
            h1 LIÊN HỆ VỚI CHÚNG TÔI
            .line 
            iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100089193554652&tabs=s%E1%BB%B1%20ki%E1%BB%87n&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=820525506311918", width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share") 
    p.copyright Copyright © 2022 Bản quyền thuộc về World Supercont

    link(rel="stylesheet", href="/client/css/footer.css")
        