extends ../../layouts/default.pug
include ../../mixins/category-tree.pug

block main 
    .main
        //- div(id="confirmBox" class="confirm-box")
        //-     div(class="confirm-content")
        //-         p Bạn có chắc chắn muốn xoá sản phẩm này không?
        //-         button(id="confirmYes") Xoá
        //-         button(id="confirmNo") Huỷ

        .activity
            a(
                href="category/create"
                class="create-item"
            ) + Thêm mới

        table 
            thead 
                tr 
                    th STT
                    th Hình ảnh 
                    th Tiêu đề
                    th Vị trí
                    th Hành động
            tbody  
                +category-tree(category)