.tintuc {
    margin-top: 20px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
}

.tintuc-tab {
    margin-top: 40px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 10px;
}

.tintuc-tab img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.tintuc-tab h1{
    font-size: 20px;
    padding: 5px 20px;
    text-align: justify;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    line-height: 1.2; 
    max-height: 2.4em; 
    margin-bottom: 10px;
}

.tintuc-tab p{
    font-size: 16px;
    padding: 5px 20px;
    margin-bottom: 20px;
    text-align: justify;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    line-height: 1.2; 
    max-height: 3.6em; 
}

.tintuc-tab:hover {
    box-shadow: #fff 0px 5px 15px;
    transition: ease-in 0.1s;
}