extends ../../layouts/default.pug 

block main
    .main 
        .banner
            .slideshow-container
                //- each image in images
                .slide
                    img(src="https://missgrandvietnam.com.vn/wp-content/uploads/2024/07/Cover_MGVN2024_Box-2-1536x585.png" alt="Banner Image")
                .slide
                    img(src="https://missgrandvietnam.com.vn/wp-content/uploads/2022/05/279102116_2126725134143759_8712777721880394374_n-1536x1023.jpg" alt="Banner Image")

    .app
        .content 
            .wsc 
                h1 World SuperCont 
                p World supercont là một trang sắc được thành lập vào ngày 2/6/2022, Trang sắc đẹp world supercont là đứa con tinh thần mà Phùng Gia Huy tâm đắc nhất. World supercont là để những bạn LGBT có thể giao lưu, chia sẻ và học hỏi kinh nghiệm. Trang đã ngừng hoạt động một thời gian và chính thức đưa vào hoạt động trở lại ngày 5/11/2022. CEO của World supercont là anh Phùng Gia Huy với nhiều kinh nghiệm trong việc sắc đẹp. 

    script(src="/client/js/banner.js" defer)
    link(rel="stylesheet" href="/client/css/home.css")