extends ../../layouts/default.pug 

block main
    .main 
        .app
            .thevote 
                h1.topthevote-title TOP 3 THE VOTE
                .topthevote 
                    .topthevote-item 
                        img(src="https://via.placeholder.com/300x500", alt="")
                        h4 
                        form(action="") 
                            button 
                    .topthevote-item 
                        img(src="https://via.placeholder.com/300x500", alt="")
                        h4 
                        form(action="") 
                            button 
                    .topthevote-item 
                        img(src="https://via.placeholder.com/300x500", alt="")
                        h4 
                        form(action="") 
                            button 

    link(rel="stylesheet", href="/client/css/thevote.css")