extends ../../layouts/default.pug

block main
    .tintuc 
        .tintuc-head 
            a(class="create" href="/admin/tintuc/create") + Thêm mới
        //- .tintuc-tab 
        //-     each item in news
        //-         .tintuc-item 
        //-             img(src=item.image, alt="")
        //-             h3 #{item.title}
        //-             .tintuc-button 
        //-                 a(class="edit" href="/admin/tintuc/edit") Sửa
        //-                 a(class="delete" href="") Xoá

    link(rel="stylesheet", href="/admin/css/tintuc.css")