doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        link(rel="stylesheet" href="/css/editor.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism.min.css" rel="stylesheet")
        link(rel="stylesheet", href="/css/client.css")
        link(rel="icon", href="/img/logo.png")
        title #{pageTitle}
    body 
        include ../partials/header.pug

        .container
            block main 

        include ../partials/footer.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js")
    script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-javascript.min.js")
    script(src="/js/editor.js")
    script(src="/js/client.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/socket.js")
    script(type="module" src="/js/chat.js")