extends ../../layouts/error.pug

block main
    .error
        h1 404
        h2 Không tìm thấy nội dung
        .content 
            p URL của nội dung này đã bị thay đổi hoặc không còn tồn tại. 
            p Nếu bạn đang lưu URL này, hãy thử truy cập lại từ trang chủ thay vì dùng URL đã lưu.
        .button-error
            a(href="/") Về trang chủ