extends ../../layouts/default.pug 

block main 
    .main
        h1.content-search-title Kết quả tìm kiếm của: "#{keyword}"
        .content-search 
            p 
                a(href="") <i class="fa-solid fa-caret-up"></i> Lý Cao Nguyên đang làm gì?
            p 
                a(href="") <i class="fa-solid fa-caret-up"></i> Những ngày sống khổ
            p 
                a(href="") <i class="fa-solid fa-caret-up"></i> Tin tức của người tử tù

    link(rel="stylesheet", href="/client/css/search.css")