header
    .admin
        h2 #{pageTitle}
        a.acc(
            href="/admin/my-account"
        ) #{user.fullName}
        a.logout-button(
            href="/admin/auth/logout"
        ) Đăng xuất
