.sider
    .sider-tab 
        .sider-item 
            a.sider-link(href="/admin/dashboard")
                i(class="fa-solid fa-table-columns")
                p Tổng quan
        .sider-item 
            a.sider-link(href="/admin/tintuc")
                i(class="fa-solid fa-newspaper")
                p Tin tức
        .sider-item 
            a.sider-link(href="/admin/hello")
                i(class="fa-solid fa-table-columns")
                p Thương hiệu