.sider 
    .logo 
        a.sider-link(href="/admin/dashboard") 
            img(src="/img/logo.png", alt="")
            h2 CNcode
    .sider-tab 
        .sider-item 
            a.sider-link(href="/admin/dashboard")
                i(class="fa-solid fa-table-columns")
                p Tổng quan 
        .sider-item 
                a.sider-link(href="/admin/products")
                    i(class="fa-solid fa-box")
                    p Sản phẩm 
        .sider-item 
            a.sider-link(href="/admin/category")
                i(class="fa-solid fa-tag")
                p Danh mục 
        .sider-item 
            a.sider-link(href="/admin/roles")
                i(class="fa-sharp fa-solid fa-layer-group")
                p Nhóm quyền
        .sider-item 
            a.sider-link(href="/admin/roles/permissions")
                i(class="fa-solid fa-users")
                p Phân quyền
        .sider-item 
            a.sider-link(href="/admin/accounts")
                i(class="fa-solid fa-user")
                p Tài khoản
        .sider-item 
            a.sider-link(href="/admin/settings/general")
                i(class="fa-solid fa-gear")
                p Cài đặt chung