.sider
    .sider-tab 
        .sider-item 
            a.sider-link(href="/admin/dashboard")
                i(class="fa-solid fa-table-columns")
                p Tổng quan
        .sider-item 
            a.sider-link(href="/admin/products")
                i(class="fa-solid fa-table-columns")
                p Nhận biết
        .sider-item 
            a.sider-link(href="/admin/hello")
                i(class="fa-solid fa-table-columns")
                p Thương hiệu