extends ../../layouts/default.pug 

block main 
    .main
        .app 
            .tintuc
                each item in news
                    .tintuc-tab 
                        a(href=`/tintuc/${item.slug}`) 
                            img(src=item.image, alt="")
                        h1 #{item.title}
                        p !{item.content}
    link(rel="stylesheet", href="/client/css/tintuc.css")
