extends ../../layouts/default.pug 

block main 
    .main
        .app 
            .tintuc 
                .tintuc-tab 
                    a(href="") 
                        img(src="https://files.fullstack.edu.vn/f8-prod/courses/7.png", alt="")
                    h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ut eaque odio aliquam tempora maiores, et libero a error quibusdam nostrum id cupiditate maxime perferendis suscipit doloribus. Commodi, voluptate nihil.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nemo! Modi quam aliquid laborum accusamus explicabo beatae. Vel porro ipsa perspiciatis sint! Perferendis quaerat in nihil quos voluptatibus quis placeat.
                .tintuc-tab 
                    a(href="") 
                        img(src="https://files.fullstack.edu.vn/f8-prod/courses/7.png", alt="")
                    h1 Sáng nay họp hội đồng trung ương 
                    p Nằm trên đồng cỏ cây nghe hương ổi thoảng đưa trong gió
                .tintuc-tab 
                    a(href="") 
                        img(src="https://files.fullstack.edu.vn/f8-prod/courses/7.png", alt="")
                    h1 Sáng nay họp hội đồng trung ương 
                    p Nằm trên đồng cỏ cây nghe hương ổi thoảng đưa trong gió
                .tintuc-tab 
                    a(href="") 
                        img(src="https://files.fullstack.edu.vn/f8-prod/courses/7.png", alt="")
                    h1 Sáng nay họp hội đồng trung ương 
                    p Nằm trên đồng cỏ cây nghe hương ổi thoảng đưa trong gió
    link(rel="stylesheet", href="/client/css/tintuc.css")
